{% extends 'base.html' %}
{% load static %}



{% block content %}
<section class="section-content padding-y bg">
	<div class="container">

		<!-- ============================ COMPONENT 1 ================================= -->

		<h2 class="text-center"> Gracias por su compra</h2>
		<br>
		<div class="text-center">
			<a href="{% url 'store'%}" class="btn btn-primary">Continuar comprando</a>


	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock%}
